{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}

<div>
     
  
    <div lc-helper="background" class="container-fluid py-5 mb-4 d-flex justify-content-center" style="  background-image: url({{asset('img/heroImg.jpg')}});
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat">
	<div class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12" style=" backdrop-filter: blur(6px) saturate(102%);
    -webkit-backdrop-filter: blur(6px) saturate(102%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);">
		<div class="lc-block">
			<div editable="rich">
				<h2 class="fw-bolder display-3">Culinary Caring</h2>
			</div>
		</div>
		<div class="lc-block col-md-8">
			<div editable="rich">
				<p class="lead">Culinary Caring est une application qui vas te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. Tu pourras partager tes recettes à toute la communauté Culinary Carling, ou bien les garder en privées comme un gourmet
				</p>
			</div>
		</div>
		<div class="lc-block">
			<a class="btn btn-dark" href="#" role="button">Inscription</a>
		</div>
	</div>
</div>
 
 
  
</div>
{% endblock %}
